<title>{{ webtitle }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% for js in mstdjss %}
<script type="text/javascript" src="{{ js }}"></script>
{% endfor %}
{% for js in mextjs %}
<script type="text/javascript" src="{{ js }}"></script>
{% endfor %}
{% for css in mstdcss %}
<link rel="stylesheet" type="text/css" href="{{ css }}" />
{% endfor %}
{% for css in mextcss %}
<link rel="stylesheet" type="text/css" href="{{ css }}" />
{% endfor %}
