<div class="col-md-4"></div>
<div class="col-md-4">
 <form class="form-horizontal" role="form" method="post" id="admin-form-login" action="/manage/login">
    <div class="form-group">
        <label for="inputEmail" class="col-sm-3 control-label">邮箱(*)</label>
        <div class="col-sm-9">
        <input type="email" class="form-control" name="email" id="inputEmail" placeholder="电子邮箱">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-3 control-label">密码(*)</label>
        <div class="col-sm-9">
        <input type="password" class="form-control" name="password" id="inputPassword" placeholder="密码">
        </div>
    </div>
    <div class="form-group">
        <div class="form-login-submit-align">
        <button class="btn btn-sm btn-info" id="admin-login-summit">登录</button>
        </div>
        <div class="form-login-check-align">
        <div class="checkbox">
            <label>
            <input type="checkbox">记住登陆状态
            </label>
        </div>
        </div>
    </div>
    </form>
    {% if loggin_error %}
    <div class="loggin-err-font">
    <p>用户名或密码错误</p>
    </div>
    {% endif %}
</div>
<div class="col-md-4"></div>