<div class="text-center-align">
  {% if page_count_all %}
  <ul class="pagination" id="pagination" data-role="{{data_role}}"
    data-total="{{ page_count_all }}" data-per-page="{{page_count}}">
 <!--
 {% if page_count_laquo %}
    <li><a href="#" id = "page_count_laquo">&laquo;</a></li>
    {% endif %}
    {% for pi in page_count_list%}
    <li class="{{ pi.class }}"><a href="{{ pi.link }}">{{ pi.num }}</a></li>
    {% endfor %}
    {% if page_count_raquo %}
    <li><a href="#">&raquo;</a></li>
    {% endif %}
    -->
  </ul>
  {% endif %}
</div>